*{
    margin:0;
    padding:0;
}
.head{
    height:15rem;
    width:17rem;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:100%;
    place-items:center;
    background-color: blue;
}

.container{
height:100px;
display:grid;
grid-template-columns: 50% 50%;
}


.content{
    height:6rem;
    background-color: brown;
    display:grid;
    place-items:center;

}
.sidebar{
    background-color: rgb(118, 44, 89);
    height:6rem;
    display:grid;
    place-items:center;

}


#card1{
    background-color: blueviolet;
}
#card2{
    background-color:rgb(88, 88, 12);
}
#card3{
    background-color: darkkhaki;
}
.cards{
    height:7rem;
    display:grid;
    grid-template-columns:30% 30% 38%;
    grid-template-rows: 100% ;
    align-items :center;
}
.footer{
    height:12rem;
    background-color: darkcyan;
}