*{
    margin:0;
    padding:0;
    

}


header{
   background-color: #fb8500;
   font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style:normal ;
  display:flex;
  justify-content:center;
  height:100px;
}

#anime{
    background-color:#219ebc;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items:center;
  justify-content:center;



}

#anime .row{
    display:flex;
   height:35%;
    width:100%;
    justify-content:space-evenly;
    align-items:center;
    margin:5%;    
    flex-wrap:wrap;
   
}
#anime .row .card {
    display:flex;
    align-items:center;
    justify-content:center;
    height:250px;
    width:250px;
    flex-direction:column;
    background-color:#8ecae6;
    border:0.0001rem solid black;
    box-shadow:1rem 1rem 2rem black; 
    transition: transform 2s ease;
}
#anime .row .card:hover {
    transform: rotate(360deg);
    color:crimson;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:darkgreen;
}
#last{
    background-color:rgb(21, 53, 111);
    
}
#comment:hover{
    color:#fb8500;
    
}

header h1:hover {
  color:blueviolet;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
input[type=text]{
    background-color:darkgrey;
    color:crimson;
}

